.container {
    padding: 7rem;
    display: flex;
    justify-content: center;
    column-gap: 10rem;
    .leftSide {
        h1 {
            font-size: 3rem;
            font-weight: 200;
            margin: 0;
            padding-bottom: 1rem;
        }
        p {
            margin: 0.2rem;
        }
    }
    .rightSide {
        width: 60rem;
    }
}
